In [3]:
# Import libraries necessary for this project
import numpy as np
import pandas as pd
from time import time
from IPython.display import display # Allows the use of display() for DataFrames

# Import visualisation libraries

import seaborn as sns
import matplotlib.pyplot as plt

# Pretty display for notebooks
%matplotlib inline

from __future__ import division

# Load the Census dataset
data = pd.read_csv("adult.data") # I could not be able to download the census csv from udacity website so i downloaded it from uci

# Success - Display the first record
display(data.head(n=1))

,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
0,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K

In [4]:
#Checking out the datatypes of the features
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32560 entries, 0 to 32559
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   39              32560 non-null  int64
 1    State-gov      32560 non-null  object
 2    77516          32560 non-null  int64
 3    Bachelors      32560 non-null  object
 4    13             32560 non-null  int64
 5    Never-married  32560 non-null  object
 6    Adm-clerical   32560 non-null  object
 7    Not-in-family  32560 non-null  object
 8    White          32560 non-null  object
 9    Male           32560 non-null  object
 10   2174           32560 non-null  int64
 11   0              32560 non-null  int64
 12   40             32560 non-null  int64
 13   United-States  32560 non-null  object
 14   <=50K          32560 non-null  object
dtypes: int64(6), object(9)
memory usage: 3.7+ MB

In [5]:
data.head()

,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
0,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
1,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
2,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
3,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
4,37,Private,284582,Masters,14,Married-civ-spouse,Exec-managerial,Wife,White,Female,0,0,40,United-States,<=50K

In [6]:
column_names = ['age', 'workclass', 'fnlwgt','education','education-num','marital-status','occupation',
                'relationship','race','sex','capital-gain','capital-loss','hours-per-week','native-country', 'Income']

In [9]:
data=pd.DataFrame(data.values,columns=column_names)

In [10]:
data

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,Income
0,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
1,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
2,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
3,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
4,37,Private,284582,Masters,14,Married-civ-spouse,Exec-managerial,Wife,White,Female,0,0,40,United-States,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32555,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
32556,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
32557,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
32558,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K
32559,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

In [11]:
data.shape

(32560, 15)

In [12]:
data.isnull().sum()

age               0
workclass         0
fnlwgt            0
education         0
education-num     0
marital-status    0
occupation        0
relationship      0
race              0
sex               0
capital-gain      0
capital-loss      0
hours-per-week    0
native-country    0
Income            0
dtype: int64

In [13]:
data.nunique()

age                  73
workclass             9
fnlwgt            21647
education            16
education-num        16
marital-status        7
occupation           15
relationship          6
race                  5
sex                   2
capital-gain        119
capital-loss         92
hours-per-week       94
native-country       42
Income                2
dtype: int64

In [14]:
data['age'].min()

17

In [15]:
data['age'].max()

90

In [16]:
data.info

<bound method DataFrame.info of       age          workclass  fnlwgt    education education-num  \
0      50   Self-emp-not-inc   83311    Bachelors            13
1      38            Private  215646      HS-grad             9
2      53            Private  234721         11th             7
3      28            Private  338409    Bachelors            13
4      37            Private  284582      Masters            14
...    ..                ...     ...          ...           ...
32555  27            Private  257302   Assoc-acdm            12
32556  40            Private  154374      HS-grad             9
32557  58            Private  151910      HS-grad             9
32558  22            Private  201490      HS-grad             9
32559  52       Self-emp-inc  287927      HS-grad             9

            marital-status          occupation    relationship    race  \
0       Married-civ-spouse     Exec-managerial         Husband   White
1                 Divorced   Handlers-cleaners   Not-in-family   White
2       Married-civ-spouse   Handlers-cleaners         Husband   Black
3       Married-civ-spouse      Prof-specialty            Wife   Black
4       Married-civ-spouse     Exec-managerial            Wife   White
...                    ...                 ...             ...     ...
32555   Married-civ-spouse        Tech-support            Wife   White
32556   Married-civ-spouse   Machine-op-inspct         Husband   White
32557              Widowed        Adm-clerical       Unmarried   White
32558        Never-married        Adm-clerical       Own-child   White
32559   Married-civ-spouse     Exec-managerial            Wife   White

           sex capital-gain capital-loss hours-per-week  native-country  \
0         Male            0            0             13   United-States
1         Male            0            0             40   United-States
2         Male            0            0             40   United-States
3       Female            0            0             40            Cuba
4       Female            0            0             40   United-States
...        ...          ...          ...            ...             ...
32555   Female            0            0             38   United-States
32556     Male            0            0             40   United-States
32557   Female            0            0             40   United-States
32558     Male            0            0             20   United-States
32559   Female        15024            0             40   United-States

       Income
0       <=50K
1       <=50K
2       <=50K
3       <=50K
4       <=50K
...       ...
32555   <=50K
32556    >50K
32557   <=50K
32558   <=50K
32559    >50K

[32560 rows x 15 columns]>

In [17]:
data=data.infer_objects()

In [18]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32560 entries, 0 to 32559
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             32560 non-null  int64
 1   workclass       32560 non-null  object
 2   fnlwgt          32560 non-null  int64
 3   education       32560 non-null  object
 4   education-num   32560 non-null  int64
 5   marital-status  32560 non-null  object
 6   occupation      32560 non-null  object
 7   relationship    32560 non-null  object
 8   race            32560 non-null  object
 9   sex             32560 non-null  object
 10  capital-gain    32560 non-null  int64
 11  capital-loss    32560 non-null  int64
 12  hours-per-week  32560 non-null  int64
 13  native-country  32560 non-null  object
 14  Income          32560 non-null  object
dtypes: int64(6), object(9)
memory usage: 3.7+ MB

In [19]:
data['Income']=data['Income'].str.strip()

In [20]:
data['Income']

0        <=50K
1        <=50K
2        <=50K
3        <=50K
4        <=50K
         ...
32555    <=50K
32556     >50K
32557    <=50K
32558    <=50K
32559     >50K
Name: Income, Length: 32560, dtype: object

In [21]:
n_records=data.shape[0]

n_greater_50k=data[data['Income']=='>50K'].shape[0]

n_at_most_50k=data[data['Income']=='<=50K'].shape[0]

greater_percent=(n_greater_50k/n_records)*100

In [22]:
n_records

32560

In [23]:
print('Individuals making more than 50K:{}'.format(n_greater_50k))

Individuals making more than 50K:7841

In [24]:
print('Individuals making less than 50K or equal to 50K:{}'.format(n_at_most_50k))

Individuals making less than 50K or equal to 50K:24719

In [25]:
greater_percent

24.081695331695332